{% extends 'base.html.twig' %}

{% block title %}SelfBranding{% endblock %}

{% block body %}
    {% set bg2 = "" %}

    <section id="section-main" class="vertical-center" data-bgimage="url({{ absolute_url(asset('/frontend/images/bg.jpg')) }}) top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6"></div>

                <div class="col-md-6">
                    <div class="typed-words wow fadeInRight" data-wow-delay=".2s">
                        <div class="typed-strings">
                            <p>Accompagnement entrepreneurial</p>
                            <p>Developpement de la jeunesse</p>
                            <p>Suivi fiscal et comptable</p>
                            <p>Integration de solution</p>
                            <p>Digital management</p>
                        </div>
                        <div class="typed"></div>
                    </div>
                    <div class="spacer-single"></div>
                    <h1 class="wow fadeInRight" data-wow-delay=".4s">Services aux <span class="underline">personnes</span> et aux <span class="underline">TPME</span> </h1>
                    <div class="spacer-single"></div>
                    <a href="{{ absolute_url(path('app_home_presentation')) }}#selfbranding-presentation" class="btn-custom light wow fadeInRight scoll-to" data-wow-delay=".6s">Qui sommes-nous?</a>
                </div>
            </div>
        </div>
    </section>

    <section id="selfbranding-presentation" data-bgimage="url({{ absolute_url(asset('/frontend/images/bg2.jpg')) }}) center fixed">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInRight">
                    <h4 class="title">Qui sommes-nous?</h4>
                    <h2 class="title">Presentation</h2>
                    <div class="title-underline"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-sm-30 text-center">
                    <div class="de-images">
                        <div class="d-hover-zoom wow fadeInRight">
                            <a class="image-popup" href="{{ absolute_url(asset('upload/presentation/'~ presentation.media1)) }}">
                                <img class="img-fluid" src="{{ absolute_url(asset('upload/presentation/'~ presentation.media1)) }}" alt="{{ presentation.titre }}" />
                            </a>
                        </div>
                        <div class="d-hover-zoom di-small-2 wow fadeInLeft">
                            <a class="image-popup" href="{{ absolute_url(asset('upload/presentation/'~ presentation.media2)) }}">
                                <img src="{{ absolute_url(asset('upload/presentation/'~ presentation.media2)) }}" alt="{{ presentation.titre }}" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-md-1 wow fadeInRight presentation" data-wow-delay=".5s">
                    <h2>Self<span class="id-color">Branding</span></h2>
                    {{ presentation.contenu|raw }}
                </div>
            </div>
        </div>
    </section>

    <section id="selfbranding-services" data-bgimage="url({{ absolute_url(asset('/frontend/images/bg2.jpg')) }}) center fixed">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 wow fadeInRight">
                    <h4 class="title">Nos offres &</h4>
                    <h2 class="title">Services</h2>
                    <div class="title-underline"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInRight" data-wow-delay=".25s">
                    <h3 class="s_border">Developpement</h3>
                    <ul class="d_timeline">
                        {% for dev in developments %}
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title"></h3>
                                <div class="d_timeline-text" style="color: #000; text-align:justify;">
                                    <span class="d_title">{{ dev.titre }}</span>
                                    {{ dev.contenu|raw }}
                                </div>
                            </li>
                        {% endfor %}

                        <li class="d_timeline-item">
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay=".5s">
                    <h3 class="s_border">Accompagnement</h3>
                    <ul class="d_timeline">
                        {% for suivi in suivis %}
                            <li class="d_timeline-item">
                                <h3 class="d_timeline-title"></h3>
                                <div class="d_timeline-text">
                                    <span class="d_title">{{ suivi.titre }}</span>
                                    {{ suivi.contenu|raw }}
                                </div>
                            </li>
                        {% endfor %}

                        <li class="d_timeline-item"></li>
                    </ul>
                </div>
            </div>
            <div class="spacer-50"></div>
        </div>
    </section>

    <section id="selfbranding-encyclopreneur" data-bgimage="url({{ absolute_url(asset('/frontend/images/bg2.jpg')) }}) center fixed">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInRight">
                    <h4 class="title">Encyclopreneurs</h4>
                    <h2 class="title">Nos entrepreneurs</h2>
                    <div class="title-underline"></div>
                </div>
            </div>
            <div class="row wow fadeInRight" data-wow-delay=".25s">
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="bloglist item">
                        <div class="post-content">
                            <div class="post-image d-hover-zoom">
                                <a class="image-popup" href="{{ absolute_url(asset('/frontend/images/encyclopreneur/test_encyclopreneur.png')) }})">
                                    <img alt="" src="{{ absolute_url(asset('/frontend/images/encyclopreneur/test_encyclopreneur.png')) }}">
                                </a>
                                <div class="post-info">
                                    <div class="inner">
                                        <span class="post-date">Josiane Asso Lobar</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-text">
                                <h4><a href="bio.html"><i class="fa fa-eye"></i> Biographie</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
