{{ form_start(form) }}
<div class="row">
    <div class="col-md-12 mt-3">{{ form_row(form.titre) }}</div>
    <div class="col-md-12 mt-3">{{ form_row(form.contenu) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.media) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.thematique) }}</div>
    <div class="col-md-12">{{ form_row(form.tags) }}</div>
</div>
{{ form_widget(form) }}
    <div class="text-right mt-5">
        <a href="{{ path('backend_thematique_index') }}" class="btn btn-outline-secondary">Annuler</a>
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
