{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des presentations{% endblock %}

{% block body %}
    {{ include('backend/entete.html.twig',{'rubrique': 'utilisateur'}) }}
    <div class="row">
        <div class="col text-right">
            <a href="{{ path('admin_user_new') }}" class="btn btn-outline-primary">
                <i class="fa fa-plus-circle"></i> Ajouter
            </a>
        </div>

    </div>
    <div class="component-section no-code">
        <h5 id="section1" class="tx-semibold">Liste des utilisateurs</h5>
        <p class="mg-b-25"></p>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible mg-b-25 fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <table id="userList" class="table">
            <thead>
            <tr>
                <th class="wd-5p text-center">#</th>
                <th class="wd-15p text-center">LOGIN</th>
                <th class="wd-30p text-center">EMAIL</th>
                <th class="wd-20p text-center">STATUT</th>
                <th class="wd-10p text-center">CONNEXION</th>
                <th class="wd-20p text-center">DERNIERE</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ user.username }}</a>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.roles.0 == 'ROLE_SUPER_ADMIN' %} Super Admin
                        {% elseif user.roles.0 == 'ROLE_ADMIN' %} Admin
                        {% else %} Utilisateur
                        {% endif %}
                    </td>
                    <td>{{ user.connexion }}</td>
                    <td>{{ user.lastConnectedAt ? user.lastConnectedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/prismjs/themes/prism-tomorrow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/datatables.net-dt/css/jquery.dataTables.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/select2/css/select2.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('backoffice/lib/prismjs/prism.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net/js/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net-dt/js/dataTables.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net-responsive/js/dataTables.responsive.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/select2/js/select2.min.js')) }}"></script>
    <script>
        $(function(){
            'use strict'

            $('#userList').DataTable({
                //responsive: true,
                language: {
                    searchPlaceholder: 'Recherche...',
                    sSearch: '',
                    lengthMenu: '_MENU_ elements/page',
                }
            });


            // Select2
            $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
        });
    </script>
{% endblock %}

