{{ form_start(form) }}
<div class="row form-group">
    <div class="col-md-6 mt-3">{{ form_row(form.nom) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.prenoms) }}</div>
    <div class="col-md-12 mt-3">{{ form_row(form.biographie) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.media1) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.media2) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.projets) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.tags) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.website) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.facebook) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.instagram) }}</div>
    <div class="col-md-6 mt-3">{{ form_row(form.twitter) }}</div>
</div>
    {{ form_widget(form) }}
    <div class="text-right mt-5">
        <a href="{{ path('backend_encyclopreneur_index') }}" class="btn btn-outline-secondary">Annuler</a>
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
