{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des encyclopreneurs{% endblock %}

{% block body %}
    {{ include('backend/entete.html.twig',{'rubrique': 'encyclopreneur'}) }}
    <div class="row">
        <div class="col text-right">
            <a href="{{ path('backend_encyclopreneur_new') }}" class="btn btn-outline-primary">
                <i class="fa fa-plus-circle"></i> Ajouter
            </a>
        </div>

    </div>
    <div class="component-section no-code">
        <h5 id="section1" class="tx-semibold">Liste des encyclopreneurs</h5>
        <p class="mg-b-25"></p>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible mg-b-25 fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <table id="userList" class="table">
            <thead>
            <tr>
                <th class="wd-5p text-center">#</th>
                <th class="wd-20p text-center">PHOTO</th>
                <th class="wd-55p text-center">NOM & PRENOMS</th>
                <th class="wd-20p text-center">MEDIA SOCIAUX</th>
            </tr>
            </thead>
            <tbody>
            {% for encyclopreneur in encyclopreneurs %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <div class="avatar"><img src="{{ absolute_url(asset('upload/encyclopreneur/1/'~ encyclopreneur.media1)) }}" class="rounded-circle" alt=""></div>
                    </td>
                    <td>
                        <a href="{{ path('backend_encyclopreneur_show', {'id': encyclopreneur.id}) }}">
                            {{ encyclopreneur.nom }} {{ encyclopreneur.prenoms }}
                        </a>

                    </td>
                    <td class="text-center">
                        {% if encyclopreneur.facebook %}<a href="https://facebook.com/{{ encyclopreneur.facebook }}" target="_blank"><i data-feather="facebook"></i></a>{% endif %}
                        {% if encyclopreneur.twitter %}<a href="https://twitter.com/{{ encyclopreneur.twitter }}" target="_blank"><i data-feather="twitter"></i></a>{% endif %}
                        {% if encyclopreneur.instagram %}<a href="https://instagram.com/{{ encyclopreneur.instagram }}" target="_blank"><i data-feather="instagram"></i></a>{% endif %}
                        {% if encyclopreneur.website %}<a href="{{ encyclopreneur.instagram }}" target="_blank"><i data-feather="globe"></i></a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/prismjs/themes/prism-tomorrow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/datatables.net-dt/css/jquery.dataTables.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/select2/css/select2.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('backoffice/lib/prismjs/prism.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net/js/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net-dt/js/dataTables.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net-responsive/js/dataTables.responsive.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/lib/select2/js/select2.min.js')) }}"></script>
    <script>
        $(function(){
            'use strict'

            $('#userList').DataTable({
                //responsive: true,
                language: {
                    searchPlaceholder: 'Recherche...',
                    sSearch: '',
                    lengthMenu: '_MENU_ elements/page',
                }
            });


            // Select2
            $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
        });
    </script>
{% endblock %}